<!-- File Created 12/3/2022 by Tyler Mox -->
<link rel="stylesheet" href="./review.css">
<%= render 'partials/header' %>
<div class="review-box">
  <div class="review">
    <h1><strong><u>Create Your Review</u></strong></h1>
    <%= simple_form_for([@location, @location.reviews.build]) do |f| %>
    <br />
    <div class="review-field">
      <div class="field">
        <%= f.label :Rating %><br/>
        <%= f.select :rating, ['', '1', '2', '3', '4', '5'], :class => 'dropdown' %>
      </div>

      <div class="field">
        <%= f.label :busy_value %><br/>
        <%= f.select :busy_value, ['', '0 - 5 mins', '5 - 15 mins', '15 - 30 mins', '30 - 60 mins', '60 mins+'], :class => 'dropdown' %>
      </div>

      <div class="field">
        <%= f.label :Enter_Feedback %><br/>
        <%= f.text_area :comment, size: '60x13',  :class => 'text-in' %>
      </div>
    
      <div class="post-field">
        <%= f.submit "Post", :class=> 'action' %>
      </div>
    </div>
    <% end %>
  </div>
</div>