<!-- File created 11/15/2022 by Samuel Dominguez: generated using `rails new` command --> 
<!-- File edited 11/23/2022 by Brendan Gass: Added favicon, main tag -->
<!DOCTYPE html>
<html>
  <head>
    <title>OSView</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
    <%= favicon_link_tag asset_path 'osview_logo.png' %>
  </head>

  <body>
    <main>
      <% if notice %>
        <div class='notice'>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class='alert'>
          <p><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
